.select-sku {
	position: relative;
	line-height: 24px;
	margin-left: 20px
}

.select-sku em {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../../images/icons.gif) 0 0 no-repeat;
	vertical-align: -3px
}

.select-sku .sel {
	background-position: -13px 0
}

input {
	width:60px;
	border: 1px solid #c1c1c1;
	font-size: 14px;
	height: 26px;
	line-height: 20px;
	padding-left: 4px;
}

.del-img {
	display: none;
	width: 14px;
	height: 14px;
	background: url(../../images/del-img.gif) no-repeat;
	position: absolute;
	top: 2px;
	right: 20px;
	cursor: pointer
}