@charset "utf-8";body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"\5b8b\4f53",sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
/*专区文字广告*/
.m-f1-new{width:750px;height:340px;}
.m-sel_new{min-width:120px;}
.ma_bot{margin-bottom:15px;}
.m-sel_input{margin:0;max-width:150px;padding:2px;border:solid 1px #b1b1b3;height:20px;line-height:20px}
.span_new{display:block;text-indent:65px;height:24px;line-height:24px;letter-spacing:1px;color:red;}
.span_newa{display:block;text-indent:65px;height:24px;line-height:24px;letter-spacing:1px;color:red;}
.span_newb{display:block;text-indent:65px;height:24px;line-height:24px;letter-spacing:1px;color:red;}
.uid_new{float:left;width:375px;}
.m-sinp-ne{max-width:182px;min-width:182px;}
.m-sinp-nes{max-width:558px;min-width:558px;}
.tr_new{margin-left:64px;height:50px;overflow:hidden;padding-top:30px;}
.ma_botgg{margin-bottom:15px;height:50px;}
.nhj_new{margin-right:26px;}
.tyew_new{width:750px;float:left;font-weight:bold;color:#333333;height:30px;line-height:30px;}
.jhe_new{width:750px;height:40px;}
.to_new{color:#0000ff;}
/*新增各地特产*/
.m-f1-rt-new{width:750px;height:440px;}
.uidtt_new{float:left;width:750px;margin-top:15px;}
.ui_new{width:500px;height:60px;max-width:500px;}
.ma_botggs{margin-bottom:0px;height:50px;}
.span_newaty{display:block;text-indent:65px;height:24px;line-height:24px;letter-spacing:1px;color:red;}
.span_newaui{display:block;text-indent:65px;height:24px;line-height:24px;letter-spacing:1px;color:red;}
.file_new{width:60px;height:20px;overflow:hidden;}
.nhi9_new{width:90px;height:24px;letter-spacing:1px;background:#B1B1B3;line-height:24px;text-align:center;}
/*当季商品广告位*/
.jhueiimg_new{display:block;width:300px;height:50px;background:#cccccc;margin-left:153px;margin-top:20px;}

/*图片上传管理*/
.up_new{width:900px;height:20px;float:left;}
.up_span_new{line-height:30px;}
.no_update_new{height:50px;width:900px;line-height:50px;}
.kl_new{width:320px;height:120px;overflow:hidden;}
.klpo_new{width:320px;}
.sein_new{color:red;}
.sein_news{color:red;}
.sein_newsg{color:red;}
.font-hd{color:#a6a6b3;}
















